/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';  
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

.container{
    padding-top: 30px;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
}

.bg-title {
    border-bottom: 1px solid #e4e7ea;
    overflow: hidden;
    padding: 10px 10px 5px;
    margin-bottom: 25px;
    margin-left: -25.5px;
    margin-right: -25.5px;
}
body{
    
    background-image: linear-gradient(0deg, #c9d4e2 0%, #c9d4e2 84%);
    background-repeat: no-repeat;
     min-height: 100vh;
    background-size: cover; 

}

 